<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.1.xsd
	">
	<context:annotation-config />
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="trainee1" />
		<property name="password" value="!QAZSE4" />
		<property name="validationQuery" value="1"/>
		<property name="maxWaitMillis" value="10000"/>

	</bean>
	
	<bean id="UserAccountJdbcTemplate" class="com.fdmgroup.documentuploader.UserAccountJdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="DocumentDao" class="com.fdmgroup.documentuploader.DocumentDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="BusinessAccountDao" class="com.fdmgroup.documentuploader.BusinessAccountDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>






