/* These are global attributes*/

body, html{
    margin:0;
    padding:0;
}
div.header {
	width: 100%;
	background-color: rgb(200,200,220);
	display:flex;
	padding-bottom: 5px;
}
div.registrationTitle{
	text-align:center;
	margin:auto;
}
h1,h2 {
	text-align: center;
}
* {
	box-sizing: border-box;
	margin: 0;
}


.fa-phone {
	transform: scaleX(-1);
	padding-left: 10px;
}

.btn {
	padding: 0.25rem 1.0rem;
	border-radius: .5rem;
}

.btn-primary {
	color: black;
	background-color: whitesmoke;
	border-color: #E8E8E8;
	margin: 5px;
	width: 90%;
	text-align:center;
}

.btn:hover {
	background-color: #00aeef;
}

#hidden{
	diplay:none;
}
/* This is part of the Navigation Bar*/

.phone {
	color: #00aeef;
	padding-bottom: 15px;
}

.nav-right {
	width: 230px;
}
div.mainHeaderLeft {
	width:25%
	border-width:0,5px,0,0;
	border-style: solid;
}
div.mainTitle{
	width:50%;
	margin:auto;
}
div.mainHeaderRight {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	width:25%;
}

/* This is the end of the Navigation Bar*/

/* This is the start of the Form*/

div.registration {
	margin:auto;
	text-align: center;
	background-color: rgb(240,240,255);
	max-width: 50%;
	width: 50%;
}
div.update {
	margin:auto;
	text-align: center;
	background-color: rgb(240,240,255);
	max-width: 50%;
	width: 50%;
}
form {
	border: grey solid 1px;
	border-radius: 20px;
	margin-bottom: 100px;
}
input.inputField{
	marign:0px;
	padding:5px;
}



.terms {
	color: #00aeef !important;
}

<<<<<<< HEAD
.validate-form{
	display:none;
}
=======
p.accountList{
	visibility: hidden;
}
div.accountDiv{
	background-color: rgb(255, 255, 204);
}


>>>>>>> 22ce267db33c7cd3db68beebfaefc5113216647a


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 20px;
    margin-left: 50px;
}

/* This is the end of the Form*/

/* This is the Start Login Page*/



/* This is the End of Login Page */

/* This is the Start of Main Page*/


/* This is where the Footer Starts*/

footer {
	margin-top: 50px;
	border-top: black solid 1px;
	bottom: 0;
	width: 100%;
}

footer a {
	color: #666666;
}
.social {
	padding-top: 20px;
}

.social a {
	padding: 0px 15px 0px 15px;
}

.copyright {
	padding: 15px;
}

.copyright p {
	float: right;
}

/* This is where the Footer Ends*/
