* {
	box-sizing: border-box;
	margin: 0;
}
.register-login-background{
	background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/265047/pexels-photo-265047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.fa-phone {
	transform: scaleX(-1);
	padding-left: 10px;
}
.btn {
	padding: 0.25rem 1.0rem;
	border-radius: .5rem;
}
.btn-primary {
	color: black;
	background-color: whitesmoke;
	border-color: #E8E8E8;
	margin: 5px;
	width: 90%;
	text-align: center;
}
.btn:hover {
	background-color: #00aeef;
}
.hidden{
	display:none;
}
/* This is part of the Navigation Bar*/
.phone {
	color: #00aeef;
	padding-bottom: 15px;
}
.header{
	display: flex;
	background-color: #A82C21;
	color: white;
}
.navbar{
	background-color: #A82C21;
}
.navbar-brand, .nav-link{
	color: white;
}
.nav-right {
	width: 230px;
}
div .mainHeaderLeft {
	width: 25%;
	border-width: 0 5px 0px 0px;
	border-style: solid;
}
div .mainTitle {
	width: 50%;
	margin: auto;
}
div .mainHeaderRight {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	width: 25%;
}
/* This is the end of the Navigation Bar*/

/* This is the start of the Form*/
.register-form {
	max-width: 450px;
	margin: 150px auto;
}
.login-form{
	margin: 250px auto;
}
form {
	border: grey solid 1px;
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: #6FD1E8;
}
.validate-form{
    display:none;
}
.mb-2,
.form-group {
	margin: 20px;
}
.form-group {
	width: 100%
}
.form-group-login{
	padding: 10px;
	width: 100%
}
.form-group-links{
	padding: 20px;
	margin-left: 70px;
}
.security-question{
	height: 40px;
}
.incorrect{
	background-color: red;
    color: white;
}
.form-check > button{
 margin-right: 18px;
}
.terms {
	color: #00aeef !important;
}
.btn-sign-in {
	float: right;
}
/* This is the end of the Form*/

/* This is the start of the Form*/
div .registration {
	margin: auto;
	text-align: center;
	background-color: rgb(240, 240, 255);
	max-width: 50%;
	width: 50%;*
}
div.update {
	margin: auto;
	text-align: center;
	background-color: rgb(240, 240, 255);
	max-width: 50%;
	width: 50%;
}
form {
	border: grey solid 1px;
	border-radius: 20px;
	margin-bottom: 100px;
}
input .inputField {
	margin: 0px;
	padding: 5px;
}
.terms {
	color: #00aeef !important;
}

.validate-form{
	display:none;
	color: red;
}
div .accountDiv {
	background-color: rgb(255, 255, 204);
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	margin-top: 0px;
	margin-left: 50px;
}

.update span {
	color: #339900;
	font-weight: bold;
}

/* This is the end of the Form*/
/* This is the Start Login Page*/
/* This is the End of Login Page */
/* This is the Start of Main Page*/
/* This is the End of Main Page*/

/* This is where the Footer Starts*/
footer {
	position: absolute;
	margin-top: 50px;
	border-top: black solid 1px;
	bottom: 0;
	width: 100%;
}
footer a {
	color: #666666;
}
.social {
	padding-top: 20px;
}
.social a {
	padding: 0px 15px 0px 15px;
}
.copyright {
	padding: 15px;
}
.copyright p {
	float: right;
}
/* This is where the Footer Ends*/